* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

p {
    font-size: 24px;
}

/* Remove underline from links */
a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: green;
}

header h1 {
    font-size: 50px;
    flex: 1 1 60%;
    margin-left: 40px;
}

nav {
    flex: 1 1 40%;
    background-color: yellow;
}

menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
    margin-top: 0px;
}

menu li a {
    color: black;
    font-size: 30px;
    font-weight: 600;
}

main {
    background-color: yellow;
}

main section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

main section h2 {
    font-size: 35px;
    text-align: right;
}

.section-header {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 15%;
    margin: 20px;
}

.section-divider {
    width: 5px;
    height: auto;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-content {
    display: flex;
    justify-content: center;
    flex: 2 1 75%;
    margin: 20px;
}

footer {
    background-color: orange;
    text-align: center;
}

.banner {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.banner img {
    width: 100%;
    object-fit: cover;
}

#about {
    background-color: blue;
}

#about h2 {
    background-color: greenyellow;
}

#about p {
    background-color: aqua;
}

#about-content {
    display: flex;
}

#avatar {
    flex: 1 1 30%;
}

#about-content article {
    flex: 2 1 70%;
}

#avatar img {
    width: 100%;
}

#work  {
    background-color: hotpink;
}

#work h2 {
    background-color: red;
}

#work-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

#lead-work-link {
    background-color: orange;
    flex: 2 2 auto;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.work-link {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 40%;
    background-color: green;
    margin-left: 0px;
    margin-right: 0px;
}

.work-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work-title {
    position: relative;
    bottom: 130px;
    left: 20px;
    border-style: solid;
    border-color: black;
}

#contact {
    background-color: indigo;
}

#contact h2 {
    background-color: lavender;
}

#contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: aliceblue;
    align-items: center;
}

#contact h3 {
    color: black;
    font-size: 30px;
    font-weight: 600;
}

/* Tablet and Small Laptop Screen Formatting  */

@media screen and (max-width: 1100px) {
    #avatar {
        flex: 1 1 45%;
    }

    #about-content article {
        flex: 2 1 55%;
    }
}


/* Large Smartphone Screen Formatting  */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }
    main section {
        flex-direction: column;
        justify-content: center;
    }
    .section-header {
        justify-content: center;
        margin: 0px;
        height: auto;
    }x
    .section-divider {
        display: none;
    }
    .section-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #work-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #lead-work-link {
        width: 100%;
    }
    .work-link {
        width: 80%;
    }
}
/* Small Smartphone Size Formatting  */
@media screen and (max-width: 576px) {
    header h1 {
        font-size: 10vw;
        text-align: center;
        margin-left: 0px;
    }
    #contact-content {
        flex-direction: column;
    }

}